body {
  background-color: antiquewhite;

  color: hsl(0, 0%, 100%);

}

:root {
  --pink1: #F472B6;
  --greenw: #16A34A;
}

.card {
  padding: 20px;
  width: 300px;
  background: #00F260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #00F260, #0575E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #00F260, #0575E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 8px 8px 5px 5px gray;
  border-radius: 10px;
  margin-top: 20vh;
}

.card img {
  border-radius: 30%;
  text-align: center;
  height: 200px;
  width: 180px;
}

h3{
  color: var(--pink1);
}

.intro p {
  margin-bottom: 3vh;
}

.fav {
  font-size: 30px;
  font-weight: 600;
  font-family: cursive;
  color: chocolate;
}

.intro h4 {
  color: hsl(75, 94%, 57%);
  margin-top: 0;
}

.intro h2 {
  margin-bottom: 5px;
}

.small {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 10px 22px 10px 22px;
  margin: 10px 20px 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.b1 {
  box-sizing: border-box;
  border: 1px solid #E2E8F0;
  border-radius: 15px;
  padding: 20px;
  margin: 30px 20px 20px 20px;
  background: #30E8BF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.t1 {
  font-size: 18px;
  font-weight: 650;
  margin-bottom: 8px;
}

.b1 p {
  color: #cff10c;
  margin-bottom: 8px;
}